{
  "exclude": [".*\\.d\\.ts$"],
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "dynamicImport": true
    },
    "target": "esnext",
    "baseUrl": "./",
    "paths": {
      "@/*": ["src/*"]
    }
  },
  "module": {
    "type": "commonjs",
    "noInterop": false
  },
  "minify": false
}
